<%- include('./partials/head') %>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="/css/conocimientos.css" />
</head>

<body>

<div class="container ">
    <header
      class="d-flex flex-wrap justify-content-end py-3 mb-4 border-bottom"
    >
    <nav class="navbar navbar-expand-md">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="opciones">

        <button type="button" class="btn btn-outline-secondary"><a class="text-white" href="/">Inicio</a></button>
        <button type="button" class="btn btn-outline-secondary">
          <a class="text-white" href="/estudios">Estudios</a>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <a class="text-white" href="/experiencia">Proyectos</a>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <a class="text-white" href="/conocimientos">Conocimientos</a>
        </button>
      </div>

    </nav>
    </header>
  </div>

<main>



<div class="superficie">
    <h1 class="display-6 text-white" data-aos="fade-down">Lenguajes de Programacion</h1>
<div class="contenedor">
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/c++_logo.jpg" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-left">C++</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/cobol-logo.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-right">COBOL</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/HTML5_logo.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-left">HTML</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/java_logo.jpg" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-right">JAVA</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/javascript-logo-1.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-left">JAVASCRIPT</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/PHP-logo.svg.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-right">PHP</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/phyton.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-left">PHYTON</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/lenguaje-c.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-right">C</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/css.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-left">CSS</h3>
    </div>
</div>

    <h1 class="display-6 text-white" data-aos="fade-up">Framework</h1>
    <div class="contenedor">
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/bokeh-logo.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-left">BOKEN</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/bootstrap-social-share.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-right">BOOTSTRAP</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/d3js-logo.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-left">D3JS</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/matplotlib-tutorial.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-right">MATPLOTLIB</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/nodejs-victorroblesweb.png" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-left">NODEJS</h3>
    </div>
    <div class="evento">
        <div class="foto" data-aos="zoom-in">
            <img src="/img/chartjs-tutorial-scaled.jpg" alt="">
        </div>
        <h3 class="titulo text-white" data-aos="fade-right">CHARTJS</h3>
    </div>
</div>

</div>
    
    
    
    </main>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init({
			duration: 3000,
			once: true
		});
	</script>
<%- include('./partials/footer') %>