<%- include('./partials/head') %>

<link rel="stylesheet" href="/css/experiencia.css" />
</head>

<body>
    
<div class="container ">
    <header
      class="d-flex flex-wrap justify-content-end py-3 mb-4 border-bottom"
    >
    <nav class="navbar navbar-expand-md">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="opciones">

        <button type="button" class="btn btn-outline-secondary"><a class="text-white" href="/">Inicio</a></button>
        <button type="button" class="btn btn-outline-secondary">
          <a class="text-white" href="/estudios">Estudios</a>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <a class="text-white" href="/experiencia">Proyectos</a>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <a class="text-white" href="/conocimientos">Conocimientos</a>
        </button>
      </div>

    </nav>
    </header>
  </div>

<%- include('./partials/footer') %>